pandas
numpy
openpyxl
requests
streamlit
plotly
google-cloud-bigquery
pandas-gbq
pytest
pytest-cov
pytest-flask
jupyter
Flask
Flask-RESTful
Flask-SQLAlchemy
Flask-Cors
Flask-Swagger
Flask-APISpec
Flask-JWT-Extended
Flask-Bcrypt
marshmallow
python-dotenv
gunicorn
beautifulsoup4
airflow